/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.story-script-regular{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#333;
}

.story-heading{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style:italic;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
}

.jumb-bk-img{
  background-image: url('htm-2.png');
  background-size:cover;
  height: 50vh;
  width:100%;
  background-repeat: no-repeat;
}


footer {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
}

footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

footer hr.small {
    margin: 20px 0
}

footer h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links.inline li {
    display: inline-block
}

footer .social-icons {
    text-align: right
}

footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    footer {
        padding-bottom: 0
    }

    footer .copyright-text,
    footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}